.jumbotron {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: rgba(255, 253, 253, 0.5);
    h2 {
        margin-right: 2rem;
        padding: 0.5rem;
    }
    .timer {
        display: flex;
        button,h3 {
            margin: 0.5rem;
        }
    }
}
