h2 {
    text-align: center;
}
.calculator {
    width: 100%;
    display: flex;
    padding: .6rem;
    input {
        width: 60px;
        margin: 1px;
    }
    button {
        width: 50px;
        margin: 1px;
    }
}
h3 {
    // padding-bottom: 2rem;
    span {
        font-weight: bolder;
    }
}