<div class="dices">
  <div>
    <button (click)='diceFour()'>K4</button>
    <h3>Dice k4: <span>{{ four }}</span></h3>
  </div>
  <div>
    <button (click)='diceSix()'>K6</button>
    <h3>Dice k6: <span>{{ six }}</span></h3>
  </div>
  <div>
    <button (click)='diceEight()'>K8</button>
    <h3>Dice k8: <span>{{ eight }}</span></h3>
  </div>
  <div>
    <button (click)='diceTen()'>K10</button>
    <h3>Dice k10: <span>{{ ten }}</span></h3>
  </div>
  <div>
    <button (click)='diceTwelve()'>K12</button>
    <h3>Dice k12: <span>{{ twelve }}</span></h3>
  </div>
  <div>
    <button (click)='diceTwenty()'>K20</button>
    <h3>Dice k20: <span>{{ twenty }}</span></h3>
  </div>
</div>
