<div class="dices">
  <div>
    <button (click)='diceFour()' class="kFour"></button>
    <h3>Dice k4: <span>{{ four }}</span></h3>
  </div>
  <div>
    <button (click)='diceSix()' class="kSix"></button>
    <h3>Dice k6: <span>{{ six }}</span></h3>
  </div>
  <div>
    <button (click)='diceEight()' class="kEight"></button>
    <h3>Dice k8: <span>{{ eight }}</span></h3>
  </div>
  <div>
    <button (click)='diceTen()' class="kTen"></button>
    <h3>Dice k10: <span>{{ ten }}</span></h3>
  </div>
  <div>
    <button (click)='diceTwelve()' class="kTwelve"></button>
    <h3>Dice k12: <span>{{ twelve }}</span></h3>
  </div>
  <div>
    <button (click)='diceTwenty()' class="kTwenty"></button>
    <h3>Dice k20: <span>{{ twenty }}</span></h3>
  </div>
</div>
