<div>
  <button (click)='diceFour()'>K4</button>
  <h3>Dice k4: {{ four }}</h3>
</div>
<div>
  <button (click)='diceSix()'>K6</button>
  <h3>Dice k6: {{ six }}</h3>
</div>
<div>
  <button (click)='diceEight()'>K8</button>
  <h3>Dice k8: {{ eight }}</h3>
</div>
<div>
  <button (click)='diceTen()'>K10</button>
  <h3>Dice k10: {{ ten }}</h3>
</div>
<div>
  <button (click)='diceTwelve()'>K12</button>
  <h3>Dice k12: {{ twelve }}</h3>
</div>
<div>
  <button (click)='diceTwenty()'>K20</button>
  <h3>Dice k20: {{ twenty }}</h3>
</div>
