.soundContainer {
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    height: 230px;
    overflow: scroll;
    .btnContainer {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        margin: 1px;
        display: inline-block;

    }
}