<div class="col-md soundContainer">
    <h2>Sounds</h2>
    <div class="btnContainer">
      <h4>Street</h4>
      <button (click)="startStreet()">Start</button>
      <button (click)="stopStreet()">Stop</button>
    </div>
    <div class="btnContainer">
      <h4>Forrest</h4>
      <button (click)="startForrest()">Start</button>
      <button (click)="stopForrest()">Stop</button>
    </div>
    <div class="btnContainer">
      <h4>River</h4>
      <button (click)="startRiver()">Start</button>
      <button (click)="stopRiver()">Stop</button>
    </div>
    <div class="btnContainer">
      <h4>Fight</h4>
      <button (click)="startFight()">Start</button>
      <button (click)="stopFight()">Stop</button>
    </div>
  </div>
  