<div class="col-md form-container">
  <div class="form">

    <div class="form-group">
      <label>Name
        <input [(ngModel)]='name' type='text' class="form-control" />
      </label>
    </div>

    <div class="form-group">
      <label>HP
        <input [(ngModel)]='hp' type='text' class="form-control" />
      </label>
    </div>

    <div class="form-group">
      <label>Category
        <input [(ngModel)]='category' type='text' class="form-control" />
      </label>
    </div>
    <button (click)='submit()'>Submit</button>
    <div class="preview">
        <p><span>Name:</span> {{name}}</p>
        <p><span>HP:</span> {{hp}}</p>
        <p><span>Category:</span> {{category}}</p>
      </div>
  </div>
 
</div>
