.start-btn {
    display: flex;
    height: 100%;
    align-self: center;
    justify-content: flex-end;

    .btn {
        background: url('../img/sword.jpeg') bottom/cover no-repeat;
        height: 50px;
        border: 10px;
        font-weight: bolder;
    }
}