.form-list {
  background-color: rgba(255, 253, 253, 0.5);
  border-radius: 25px;
  width: fit-content;
  width: -webkit-fit-content;
    width: -moz-fit-content;
  height: 640px;
  overflow: scroll;

  .btn {
    width: 100%;
    border: 10px;
    margin-bottom: 10px;
    background: url('../../img/refresh.jpeg') center/cover no-repeat;
    color: white
  }

  ul {
    padding: .3rem;

    li {
      list-style: none;
      font-size: 1.3rem;
    }
  }
}
