.form-list {
  background-color: rgba(255, 253, 253, 0.5);
  border-radius: 25px;
  width: fit-content;
  width: -webkit-fit-content;
    width: -moz-fit-content;
  height: 640px;
  overflow: scroll;

  .btn {
    width: 100%;
    border: 10px;
    margin-bottom: 10px;
    // background: url('../../img/fire.jpg') center/cover no-repeat;
    background: url('../../img/axe.jpg') center/cover no-repeat;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 1.4rem;
    // color: white
  }

  input {
    display: block;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-family: 'Gloria Hallelujah', 'Arial', cursive
  }

  ul {
    padding: .3rem;

    li {
      list-style: none;
      font-size: 1.3rem;
      font-family: 'Gloria Hallelujah', 'Arial', cursive;

      span {
        font-family: 'Mukta', 'Arial', sans-serif;

      }
    }
  }
}
