/* You can add global styles to this file, and also import other style files */

body {
    background: url('./img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // font-family: 'Gloria Hallelujah', 'Arial', cursive;
  font-family: 'Mukta', 'Arial', sans-serif;

}
button {
  cursor: pointer;
}